    {# <span> id </span><input type="id" placeholder ="wpisz id"  ></br> #}
    {% if user is not defined  %}

    <span> name</span><input id="nameInput" type="text" placeholder ="wpisz name"  ></br>
    <span> email </span><input id="emailInput" type="text" placeholder ="wpisz email"  ></br>
    <span>gender
        <select id="genderInput">
            <option>male</option>
            <option>female</option>
        </select>
    </span></br>
    {# <input type="text" placeholder ="wpisz gender"  ></br> #}
    <span>status
        <select id="statusInput">
            <option>active</option>
            <option>inactive</option>
        </select>
    </span></br>
    {# <input type="text" placeholder ="wpisz status"  ></br> #}
{% elseif user is  defined %}


{# asdnaosdoasidmn #}

    <span> name</span><input id="nameInput" type="text" placeholder ="wpisz name" value ="{{  user.getName()  }}" ></br>
    <span> email </span><input id="emailInput" type="text" placeholder ="wpisz email"   value ="{{  user.getEmail()  }}" ></br>
    <span>gender
        <select id="genderInput">
            <option {{user.getGender() == "male" ? "selected":""}}>male</option>
            <option {{user.getGender() == "female"?"selected":""}}>female</option>
        </select>
    </span></br>
    <span>status
        <select id="statusInput">
            <option{{user.getStatus() == "active" ? "selected":""}}>active</option>
            <option{{user.getStatus() == "inactive" ? "selected":""}}>inactive</option>
        </select>
    </span></br>
    {% endif %}


    
