<table>

    <th>id </th>
    <th>name</th>
    <th>email </th>
    <th>gender </th>
    <th>status</th>

<tbody id="table">



{% for user in users %}
    <tr>
    <td>{{user.getId()}}</td>
    <td>{{user.getName()}}</td>
    <td>{{user.getEmail()}}</td>
    <td>{{user.getGender()}}</td>
    <td>{{user.getStatus()}}</td>
    <td><button onclick="deleteItem({{ user.getId() }})">  delete </button></td>
    <td><button onclick="updateForm({{ user.getId()}})">update</button></td>

    </tr>
{% endfor %}

</tbody>


</table>
<div id ="form">
